* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* padding: 0px 16px; */
  background: #ece3ce;
  min-height: 100vh;
  position: relative;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}
/* html------------------------ */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3a4d39;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

header .back-button-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  text-decoration: none;
  border-radius: 4px;
}

header button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 4px;
  width: 2.7rem;
  height: 1.5rem;
  font-size: 35px;
  color: #fff;
  background-color: #739072;
  text-decoration: none;
  transition: background-color 0.2s;
  cursor: pointer;
}
header button .button-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5rem;
}

header button:hover {
  background-color: #1f1717;
}

header h1 {
  color: #eee;
  font-family: "McLaren", cursive;
  font-weight: 200;
}
/* header------------------------ */

footer {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 2rem;
  text-align: center;
}

footer p {
  color: #3a4d39;
}
/* footer------------------------ */

form.create-note {
  position: relative;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0 10px 0 rgba(138, 137, 137);
  padding: 13px;
  width: 480px;
  margin: 30px auto 20px auto;
}

@media (max-width: 480px) {
  form.create-note {
    width: 380px;
  }
}

form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  border-style: none;
  outline: none;
  font-family: inherit;
  font-size: 1.2rem;
  resize: none;
}

form button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  border: none;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  background: #739072;
  color: #fff;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
/* footer------------------------ */

.note {
  border: none;
  border-radius: 8px;
  width: 240px;
  background: #fff;
  float: left;
  padding: 10px;
  margin: 16px;
  box-shadow: 0 2px 5px #ccc;
}

.note h1 {
  font-size: 1.2rem;
  margin-bottom: 6px;
}

.note p {
  font-size: 1.1rem;
  margin-bottom: 16px;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.note button {
  position: relative;
  float: right;
  border: none;
  outline: none;
  width: 36px;
  height: 36px;
  margin-right: 18px;
  cursor: pointer;
  color: #0f0f0f;
  font-weight: 50px;
}

/* ----------------------.note style-------------------- */

div.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

div.container {
  margin: 20px;
  width: 486px;
  background-color: #4f6f52;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
  border: none;
  border-radius: 10px;
}

@media (max-width: 480px) {
  div.container {
    display: flex;
    flex-direction: column;
  }
}

button.button-style {
  border: none;
  outline: none;
  background-color: #739072;
  padding: 9px;
  width: 100px;
  height: 50px;
  margin-top: 1.1rem;
  border-radius: 8px;
  font-size: 1em;
  font-weight: 200;
  font-family: "McLaren", cursive;
  cursor: pointer;
  color: #ffffff;
  transition: background-color 0.2s;
}

button.button-style:hover {
  background-color: #0f0f0f;
}

/* To-Do styling---------------------------------------------------------- */

div.todo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  width: 100vw;
  padding: 1px;
  color: hsl(198, 1%, 29%);
  font-family: "Architects Daughter", cursive;
}

div.todo-container {
  width: 100%;
  height: auto;
  margin-top: 40px;
  background-color: #fff;
  min-height: 450px;
  min-width: 100px;
  max-width: 500px;
  border: none;
  border-radius: 12px;
  background-image: radial-gradient(#bfc0c1 7.2%, transparent 0);
  background-size: 25px 25px;
  padding: 1rem;
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  div.todo-container {
    min-height: 310px;
    min-width: 100px;
    max-width: 350px;
  }
}

div.todo-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.todo-heading h1 {
  transform: rotate(2deg);
  padding: 0.2rem 1.2rem;
  border-radius: 20% 5% 20% 5%/5% 20% 25% 60%;
  background-color: #fdcb6e;
  font-size: 1.5rem;
}

div.input-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-section input {
  background-color: transparent;
  border: solid 3px transparent;
  border-bottom: dashed 3px #fdcb6e;
  padding: 0.7rem;
  font-family: "Architects Daughter", cursive;
  font-size: 1rem;
  color: hsla(260, 2%, 25%, 0.7);
  width: 70%;
  margin-bottom: 20px;
}

.input-section button {
  padding: 0;
  border: none;
  font-family: "Architects Daughter", cursive;
  text-decoration: none;
  padding-bottom: 3px;
  border-radius: 5px;
  background-color: #ffeaa7;
  margin-left: 12px;
  cursor: pointer;
}

.input-section button span {
  background: #f1f5f8;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid hsl(198, 1%, 29%);
}

div.todo-container li {
  text-align: left;
  position: relative;
  padding: 0.5rem;
  margin-left: 15px;
  font-size: 21px;
  word-wrap: break-word;
  cursor: pointer;
}

div.todo-container li:hover {
  text-decoration: line-through;
}
